head
  title Spawnsor
  script(src="//code.jquery.com/jquery-2.2.4.min.js")
  script(src="http://localhost:3000/js/lib/pdollar.js")
  script(src="/socket.io/socket.io.js")
  script(src="js/spawnsor.js")
  link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="/css/spawnsor.css")
body
  h1#title.overlay Spawnsor
  canvas#canvas
  button#shape.btn.btn-warning.btn-lg
  button#clear.btn.btn-primary.btn-lg Clear
